langgraph
streamlit-audiorecorder
fastapi
langchain
python-dotenv
uvicorn
gTTS
openai-whisper
langchain_core
langchain_community
langchain_groq
python-multipart
kenlm
pyctcdecode
transformers
librosa
soundfile
gTTS
tavily-python
langgraph-checkpoint-sqlite